<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="test, wireframe, product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--
<h1>Styling</h1>

<p id='text'>Random content</p>
<button id="jsstyle"
        onclick="js_style()">Style</button>



<form>
    <h1>Forms</h1>

    <input title="Name" type="text" id="userInput" />
    <input title="Last name" type="text" id="userInput2" />
    <input value="Get info" type="submit" onclick="othername();" />

</form>

<h1>Anchortag</h1>

<a id="link" hreflang="en" target="_blank" href="https://www.wikipedia.org" ></a>

<button id="submit">Wikipedia Attribute Info</button>



<h1>Table Exercise 5</h1>



<table id="table">
    <tr><td>1</td><td>11</td></tr>
    <tr><td>2</td><td>22</td></tr>
    <tr><td>3</td><td>33</td></tr>
    <tr><td>4</td><td>44</td></tr>
</table>

<button id="submit">Insert row</button>
<button id="remove">Remove row</button>
-->

<h1>Exercise 7</h1>
<form class="pure-form">
    <p>
        <input id="text" title="text" type="text" value="abc">
        <button id="submit">Input text </button>
    </p>
</form>


<script src="../scripts/index.js"></script>
</body>
</html>